@model IQueryable<Round>
<div>
    <h4>This is a placeholder scoreboard.</h4>
    <p>Instead of the scores, I'm listing round spawn information for the game.</p>
    <table>
        <tr>
            <th>Round Number</th>
            <th>Small Spawns</th>
            <th>Fat Spawns</th>
            <th>Fast Spawns</th>
            <th>Large Spawns</th>
        </tr>
        @foreach (var r in Model)
        {
            <tr>
            <td>@r.RoundNumber</td>
            <td>@r.SmallSpawn</td>
            <td>@r.FatSpawn</td>
            <td>@r.FastSpawn</td>
            <td>@r.BigSpawn</td>
            </tr>
        }
    </table>
</div>